<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <title>{% block title %}{% endblock %} - Sonu Rai</title>
    <meta name="twitter:creator" content="@sonu27">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
</head>
<body>
<header class="navbar navbar-static-top" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('home') }}" class="navbar-brand" id="brand">Sonu Rai</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li{% if app.request.get('_route') == 'home' %} class="active"{% endif %}><a
                            href="{{ path('home') }}">Home</a></li>
                <li{% if app.request.get('_route') == 'about' %} class="active"{% endif %}><a
                            href="{{ path('about') }}">About</a></li>
                <li{% if app.request.get('_route') == 'contact' %} class="active"{% endif %}><a
                            href="{{ path('contact') }}">Contact</a></li>
                <li><a href="http://blog.sonurai.com/">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="main">
    <div class="container">
        <div id="content">{% block body %}{% endblock %}</div>
    </div>
</div>
<footer class="container">
    <div class="row">
        <div id="copyright" class="col-xs-10">&copy; {{ date()|date('Y') }} Amarjeet Rai</div>
        <div id="social" class="col-xs-2">
            <a href="http://twitter.com/sonu27" title="Twitter @sonu27"><i class="fa fa-twitter"></i></a>
        </div>
    </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{#<script src="{{ asset('bundles/app/js/main.js') }}"></script>#}
{% block javascripts %}{% endblock %}
{% if app.environment == 'prod' %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-83506-8', 'sonurai.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
{% endif %}
</body>
</html>
