{% extends 'base.html.twig' %}

{% block title %}Bing Wallpapers - Page {{ page }}{% endblock %}

{% block body %}
    <h1 id="page-title">Bing Wallpapers</h1>

    {% for wallpaper in wallpapers %}
        <article class="post">
            <p><a href="{{ path('wallpaper_show', {'id': wallpaper.id}) }}"><img src="{{ path }}{{ wallpaper.name }}_th.jpg" alt="{{ wallpaper.description }}" class="img-responsive"></a></p>
            <p>{{ wallpaper.description }}</p>
        </article>
    {% endfor %}

    <ul class="pagination">
        {% for page in pagination %}
            <li{% if page.class is not null %} class="{{ page.class }}"{% endif %}><a href="{{ page.url }}" class="btn">{{ page.page|raw }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
