{% extends 'base.html.twig' %}

{% block title %}{{ wallpaper.description }} - Bing Wallpapers{% endblock %}

{% block meta %}
    <meta name="twitter:card" content="photo">
    <meta name="twitter:image:src" content="http://sonurai.com{{ path }}{{ wallpaper.name }}_th.jpg">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" async defer data-pin-height="28" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}

{% block body %}
    <h1 id="page-title">{{ wallpaper.description }}</h1>

    <article class="post">
        <a href="{{ path }}{{ wallpaper.name }}.jpg"><img src="{{ path }}{{ wallpaper.name }}.jpg" alt="{{ wallpaper.description }}" class="img-responsive"></a>
        <p>{{ date|date('d M Y') }}</p>
    </article>
{% endblock %}
