<!DOCTYPE html>
<html lang="en">
<head>
{% if app.environment == 'prod' %}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PJ8TLNP');</script>
<!-- End Google Tag Manager -->
{% endif %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{% block description %}{% endblock %}">
<title>{% block title %}{% endblock %} - Sonu Rai</title>
<meta name="twitter:site" content="@sonu27">
<meta name="twitter:creator" content="@sonu27">
{% block meta %}{% endblock %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
{% if app.environment == 'prod' %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJ8TLNP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}
<nav class="navbar navbar-expand" id="top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}" id="brand">Sonu Rai</a>
        <div class="navbar-collapse navbar-nav">
            <a class="nav-item nav-link {% if app.request.get('_route') == 'home' %}active{% endif %}" href="{{ path('home') }}">Home</a>
            <a class="nav-item nav-link {% if app.request.get('_route') == 'about' %}active{% endif %}" href="{{ path('about') }}">About</a>
            <a class="nav-item nav-link {% if app.request.get('_route') == 'contact' %}active{% endif %}" href="{{ path('contact') }}">Contact</a>
        </div>
    </div>
</nav>
<div id="main">
    <div id="content" class="container">{% block body %}{% endblock %}</div>
</div>
<footer class="container">
    <p>&copy; {{ date()|date('Y') }} Amarjeet Rai</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
