{% extends 'base.html.twig' %}

{% set title = wallpaper.description ~ ' - Bing Wallpapers' %}

{% block meta %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ path }}{{ wallpaper.name }}_th.jpg">
<meta property="og:image" content="{{ path }}{{ wallpaper.name }}_th.jpg">
{% endblock %}

{% block body %}
    <h1 id="page-title">{{ wallpaper.description }}</h1>

    {% for colour in wallpaper.colours %}
        <span class="colour badge" style="background: {{ colour }}; color: {{ colour }}">{{ colour }}</span>
    {% endfor %}

    <article class="post">
        <a href="{{ path }}{{ wallpaper.name }}.jpg"><img src="{{ path }}{{ wallpaper.name }}.jpg" alt="{{ wallpaper.description }}" class="img-fluid"></a>
        <p>{{ date|date('d M Y') }}</p>
    </article>

    {% for tag in wallpaper.tags %}
        <span class="tag badge badge-pill badge-info">{{ tag }}</span>
    {% endfor %}
{% endblock %}
